<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <style>
    body{
      padding-top: 80px;
    }
    .btn-default{
      background-color: #4286f4;
      width: 100px;
      color: #242526;
    }
    img{
      width: 350px;
      padding-top: 20px;
    }
  </style>
  <title>Chat Application</title>
</head>
<body>
  <div class="container">
    <div class="text-center">
      <h1>Chat Apllication</h1>
      <p>Login or Register</p>
      <a href="/login" class="btn btn-default">Login</a>
      <a href="/signup" class="btn btn-default">Signup</a>
      </br>
      <img src="author.jpg" alt="">
      <p>Simple but Efficient</p>
    </div>
  </div>
</body>
</html>
